<div class="container-fluid">
    <div class="row">
        <h1>Experiencia Laboral</h1>
        <div class="col-lg-11">
            <ul>
                <li><h1>Trabajo 1</h1> - <h3>(years)</h3></li>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta, soluta, a distinctio sed quae provident eveniet unde vel quam recusandae et, quasi tempora! Nemo rem ducimus explicabo excepturi. Ipsam, suscipit.</p>
            </ul>
            <ul>
                <li><h1>Trabajo 2</h1> - <h3>(years)</h3></li>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta, soluta, a distinctio sed quae provident eveniet unde vel quam recusandae et, quasi tempora! Nemo rem ducimus explicabo excepturi. Ipsam, suscipit.</p>
            </ul>
            <ul>
                <li><h1>Trabajo 3</h1> - <h3>(years)</h3></li>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta, soluta, a distinctio sed quae provident eveniet unde vel quam recusandae et, quasi tempora! Nemo rem ducimus explicabo excepturi. Ipsam, suscipit.</p>
            </ul>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <h1>Educacion</h1>
        <div class="col-lg-11">
            <ul>
                <li><h1>Titulo 1</h1> - <h3>(years)</h3></li>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta, soluta, a distinctio sed quae provident eveniet unde vel quam recusandae et, quasi tempora! Nemo rem ducimus explicabo excepturi. Ipsam, suscipit.</p>
            </ul>
            <ul>
                <li><h1>Titulo 2</h1> - <h3>(years)</h3></li>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta, soluta, a distinctio sed quae provident eveniet unde vel quam recusandae et, quasi tempora! Nemo rem ducimus explicabo excepturi. Ipsam, suscipit.</p>
            </ul>
            <ul>
                <li><h1>Titulo 3</h1> - <h3>(years)</h3></li>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta, soluta, a distinctio sed quae provident eveniet unde vel quam recusandae et, quasi tempora! Nemo rem ducimus explicabo excepturi. Ipsam, suscipit.</p>
            </ul>
        </div>
    </div>
</div>