<div class="container-fluid">
    <div class="row">
        <h1>Proyectos Realizados</h1>
            <div class="col-2">
                <button type="button" class="btn btn-dark menor" routerLink="/nuevoproy" *ngIf="isLogged">
                    Nuevo Proyecto
                </button>
            </div>
    </div>
    <div class="row">
        <div class="container">
            <div class="col-sm-12 col-md-7 col-lg-7 parte1 lado" *ngFor="let Proyectos of proyectos">
                <div class="card" style="width: 18rem;">
                    <img src="{{Proyectos.imgProy}}" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h4 class="card-title">{{Proyectos.nombreProy}}</h4>
                      <p class="card-text">{{Proyectos.descripcionProy}}</p>
                      <a href="{{Proyectos.urlProy}}" class="btn btn-primary">Ver Proyecto</a>
                    </div>
                </div>
                <div *ngIf="isLogged" class="col-sm-1">
                    <section class="peque" routerLink="/editproy/{{Proyectos.id}}">
                        <i class="bi bi-pencil-square"></i></section>
                        <section class="peque" (click)="delete(Proyectos.id)">
                        <i class="bi bi-x-circle"></i></section>
                  </div>
            </div>
        </div>
    </div>
</div>

