.row {
    background-color: #072227;

}
footer{
    color: #c9dad4;
    font-size: 14px;
    display: flex; /*Permite mover los contenidos */
    flex-direction: row;
    text-align: center;
    box-shadow: 2px -2px 5px black;
}
.pie{
    display: flex; /*Permite mover los contenidos */
    flex-direction: column;
    text-align: end;
}