<div class="container">
    <div class="row">
        <div>
            <h1>Creacion de Nueva Educacion</h1>
            <h3>Complete todos los campos siguientes:</h3>
            <form (ngSubmit)="onCreate()" novalidate #f="ngForm">
                <div class="form-group">
                    <label for="titulo">Titulo Obtenido</label>
                    <input type="text" class="form-control" id="titulo" name="titulo" [(ngModel)]="titulo" required>
                </div>
                <div class="form-group">
                    <label for="nombreInst">Nombre de la Institucion</label>
                    <input type="text" class="form-control" id="nombreInst" name="nombreInst" [(ngModel)]="nombreInst" required>
                </div>
                <div class="form-group">
                    <label for="fechaFin">Fecha finalizacion</label>
                    <input type="text" class="form-control" id="fechaFin" name="fechaFin" placeholder="Use Formato Mes/año" [(ngModel)]="fechaFin" required>
                </div>
                <div class="form-group">
                    <label for="esEstudioActual">Es estudio actualmente?</label>
                    <input type="text" class="form-control" id="esEstudioActual" name="esEstudioActual" [(ngModel)]="esEstudioActual" placeholder="Ingrese Si o No" required>
                </div>
                <div class="form-group">
                    <label for="imagen">Url Logo Institucion Educativa</label>
                    <input type="text" class="form-control" id="imagen" name="imagen" placeholder="Ingrese https://ruta de el logo de la institucion" [(ngModel)]="imagen" required>
                </div>
                <br>
                <button class="btn btn-info">
                    Agregar Educacion
                </button>
            </form>
        </div>
    </div>
</div>

