<div class="row">
    <div class="container">
        <div class="logo">
            <img src="../../../assets/logoArgPrograma3.jpg" id="logoAr">#YoProgramo2
        </div>
        <div class="redes">
            <a href=""><img src="../../../assets/LinkedIn_logo.png" alt=""></a>
            <a href=""><img src="../../../assets/instagramLogo.png" alt=""></a>
            <a href=""><img src="../../../assets/twitter-logo-3.png" alt=""></a>
            <a href=""><img src="../../../assets/githubLogo.png" alt=""></a>
            <button type="button" class="btn btn-outline-light" id="btn">Login</button>
        </div>
    </div>
</div>
